.custom_select {
  position: relative;
}

.select_disabled.custom_select::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--light_grey_disable);
  border-radius: var(--standard_border_radius);
}

.select_button {
  background-color: var(--light_grey);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 12px 16px;
  border: 1px solid var(--medium_grey);
  border-radius: var(--standard_border_radius);
  cursor: pointer;
}

.arrow {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 7px solid var(--dark_blue);
  transition: transform ease-in-out 0.35s;
  margin-left: 12px;
}

.arrow--disabled {
  border-top: 7px solid var(--dark_grey);
}

.arrow--open {
  transform: rotate(180deg);
}

.select_dropdown {
  background-color: var(--light_grey);
  position: absolute;
  width: 100%;
  border: 1px solid var(--dark_blue);
  border-radius: var(--standard_border_radius);
  padding-bottom: 8px;
  box-shadow: 0px 4px 20px 0px #0303841a;
  z-index: 3;
}

.select_dropdown::-webkit-scrollbar {
  display: none;
}

.select_dropdown li {
  cursor: pointer;
  padding: 16px 0;
  margin: 0 16px;
}

.select_dropdown li:not(:last-child) {
  border-bottom: 1px solid var(--grey_divider);
}

.select_button--selected_value {
  display: flex;
  align-items: center;
}

ul.select_dropdown li:hover,
ul.select_dropdown li:focus {
  background-color: var(--medium_grey);
  padding: 16px;
  margin: 0;
}

ul.select_dropdown > li:first-of-type:hover {
  border-top-left-radius: var(--standard_border_radius);
  border-top-right-radius: var(--standard_border_radius);
}

.default {
  color: var(--dark_grey);
}

.option_disabled {
  color: var(--dark_grey);
  pointer-events: none;
}



.selected {
  color: var(--dark_blue);
}

.open {
  border: 1px solid var(--dark_blue);
}

.select_dropdown_divider {
  height: 1.5px;
  background-color: var(--grey_divider);
  width: 90%;
  margin: 0 auto;
}

.dropdown_icon_wrapper {
  display: flex;
  align-items: center;
}
