.mpp_text_area_container {
  display: flex;
  margin: 10px 0;
  gap: 17px;
  padding: 16px;
  border: 2px solid var(--medium_grey);
  background-color: var(--light_grey);
  border-radius: var(--standard_border_radius);
  height: 100%;
  box-sizing: border-box;
}

.mpp_text_area {
  border: none;
  width: 100%;
  font-size: 16px;
  outline: none;
  resize: none;
  font-family: inherit;
  transition: border-color 0.3s ease;
  background-color: transparent;
}

.focused {
  border-color: var(--dark_blue);
}

.error {
  border-color: var(--error);
}

.input_error {
  color: var(--error);
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.read_only {
  cursor: not-allowed;
}
