.mpp_text_area_container {
  display: flex;
  margin: 10px 0;
  gap: 17px;
  padding: 16px;
  border: 1px solid var(--medium_grey);
  background-color: var(--light_grey);
  border-radius: var(--standard_border_radius);
  height: 100%;
  box-sizing: border-box;
}

.mpp_text_area {
  border: none;
  width: 100%;
  font-size: 16px;
  outline: none;
  resize: none;
  font-family: inherit;
  transition: border-color 0.3s ease;
  background-color: transparent;
}

.focused {
  border-color: var(--dark_blue);
}

.read_only {
  cursor: not-allowed;
}
