.card_edition__container {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  padding: .9rem 1.9rem;
  align-items: center;
  background-color: var(--very_light_yellow);
}

.card_edition__infos {
  /* border: 1px solid green; */
  margin-right: 16px;
  display: flex;
  width: 30%;
  min-width: 11rem;
}

.card_edition__days {
  border: 1px solid pink;
  color: var(--tonic_violet);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 5rem;
}


.edition_days__icon {
  fill: var(--tonic_violet);
}

@media (min-width: 896px) {
  .card_edition__days {
    align-items: center;
    max-width: 100%;
  }

  .card_edition__infos {
    width: auto;
  }
}