.main_podium_container {
  max-width: 652px;
}

.podium__container {
  box-sizing: border-box;
  display: flex;
  align-items: flex-end;
  min-width: 361px;
  background-color: var(--dark_blue_light);
  border-radius: var(--big_border_radius);
  position: relative;
  z-index: 3;
  box-shadow: 0px 4px 20px var(--shadow_color);
  margin-bottom: 20px;
}

.sco_background_color {
  background-color: var(--dark_blue_light);
}

.gp_background_color {
  background-color: var(--dark_blue);
}

.podium_step__container:nth-child(2) {
  order: 1;
}

.podium_step__container:nth-child(1) {
  margin: 0 0.3rem;
  order: 2;
}

.podium_step__container:nth-child(3) {
  order: 3;
}

.details_podium_background {
  background-color: var(--light_grey);
  margin-top: -40px;
  padding-top: 40px;
  box-shadow: 0px 4px 20px var(--shadow_color);
  border-radius: var(--big_border_radius);
  position: relative;
  z-index: 2;
}

.details_collapse {
  display: grid;
  grid-template-rows: 0fr;
  transition:
    grid-template-rows 320ms ease,
    padding 320ms ease,
    opacity 320ms ease;
  overflow: hidden;
  opacity: 0;
  padding-top: 0;
  background-color: var(--light_grey);
  margin-top: -40px;
  box-shadow: 0px 4px 20px var(--shadow_color);
  border-radius: var(--big_border_radius);
  pointer-events: none;
}

.details_collapse.expanded {
  grid-template-rows: 1fr;
  opacity: 1;
  padding-top: 40px;
  pointer-events: auto;
}

.details_list_podium {
  padding: 10px 20px;
}

@media (min-width: 896px) {
  .podium__container {
    padding-right: 40px;
    padding-left: 40px;
    box-sizing: border-box;
  }
}
