.podium__container {
  box-sizing: border-box;
  padding: 1.625rem 0.3rem 1.5rem 0.3rem;
  display: flex;
  align-items: flex-end;
  max-width: 652px;
  min-width: 361px;
  background-color: var(--dark_blue_light);
  border-radius: var(--big_border_radius);
}

.podium_step__container:nth-child(2) {
  order: 1;
}

.podium_step__container:nth-child(1) {
  margin: 0 0.3rem;
  order: 2;
}

.podium_step__container:nth-child(3) {
  order: 3;
}

@media (min-width: 896px) {
  .podium__container {
    padding: 4.5rem 6rem 2.5rem 6rem;
  }
}
