.menu_background {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--white);
  width: 70vw;
  height: 100%;
  box-shadow: 0px 4px 20px var(--shadow_color);
  max-width: 270px;
}

.logo_container {
  background-size: contain;
  background-repeat: no-repeat;
  width: 80%;
  height: 81px;
  margin-top: 16px;
}
.logo_container.logo_sco {
  background-image: url('../../ressources/logo/sco_yellow_logo_blue_text.png');
}

.logo_container.logo_gp {
  background-image: url('../../ressources/logo/gp_logo_blue.png');
}
.logo {
  width: 100%;
  height: auto;
}

.gp_menu_client_data {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.center {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.navigation_background {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: 0 24px 0px 24px;
}

.navigation_bo_sco {
  padding-top: 24px;
}

.navigation_bo_ecu {
  padding-top: 20px;
}

.navigation_client_code_section {
  padding: 0px 24px;
  display: flex;
  align-items: center;
}
.navigation_client_code_section--input .mpp_input_container {
  margin: 0;
  height: 52px;
  margin-right: 8px;
}

.navigation_client_code_section .button_large {
  padding: 12px 20px;
}

.navigation_language_dropdown {
  margin-bottom: 12px;
}
.icon {
  width: 20px;
  height: 20px;
  margin-right: 12px;
}

.icon_arrow_back {
  margin-right: 12px;
}

.navigation_return_link {
  display: flex;
  align-items: center;
  margin-top: 20px;
  cursor: pointer;
}

.navigation_element {
  margin-bottom: 16px;
  color: var(--dark_grey);
  fill: var(--dark_grey);
}
.navigation_flex {
  display: flex;
  flex-direction: row;
}

.navigation_element :hover {
  cursor: pointer;
  color: var(--dark_blue);
  fill: var(--dark_blue);
}

.actual_page {
  color: var(--dark_blue);
  fill: var(--dark_blue);
}

.bottom {
  margin-bottom: 26px;
  display: flex;
}

.bottom:hover {
  cursor: pointer;
  color: var(--dark_blue);
}

.toggle_language_container {
  display: flex;
  gap: 10px;
}

.gp_menu_client_name {
  padding: 0 20px;
}

@media (min-width: 896px) {
  .menu_background {
    width: 251px;
    min-height: 100vh;
  }
}
