.menu_background {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--white);
  width: 70vw;
  height: 100%;
  border-radius: var(--standard_border_radius);
  box-shadow: 0px 4px 20px var(--shadow_color);
}

.logo_container {
  width: 80%;
  margin-top: 16px;
}

.logo {
  width: 100%;
  height: auto;
}

.center {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.navigation_background {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  padding-left: 24px;
  padding-top: 24px;
}

.icon {
  width: 20px;
  height: 20px;
  padding-right: 12px;
}

.navigation_element {
  margin-bottom: 16px;
  color: var(--dark_grey);
  fill: var(--dark_grey);
}
.navigation_flex {
  display: flex;
  flex-direction: row;
}

.navigation_element :hover {
  cursor: pointer;
  color: var(--dark_blue);
  fill: var(--dark_blue);
}

.actual_page {
  color: var(--dark_blue);
  fill: var(--dark_blue);
}

.bottom {
  margin-bottom: 26px;
}

@media (min-width: 896px) {
  .menu_background {
    width: 251px;
    min-height: 100vh;
  }
}
