.challenge_card__container {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 12px;
  border-radius: 25px;
  background-color: var(--white);
  box-shadow: 0px 4px 20px 0px var(--shadow_color);
  width: 100%;
}

.padding_ecu{
  padding: 12px 20px;
}

.challenge_card__subtitle {
  font-style: italic;
}

.challenge_card__ranking{
  padding: 2px 9px;
  border-radius: 7px;
  background-color: var(--teal);
}

.challenge_card__ranking_title{
  display: flex;
}

.loading .challenge_card__ranking_title{
  width: 100%;
}

.challenge_card__content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 12px;
}

.challenge_card__points {
  box-sizing: border-box;
  padding: 4px 15px;
  border-radius: 50px;
  color: var(--utility_green);
  background-color: var(--green_background);
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-width: 50px;
}

.loading .challenge_card__content {
  width: 50%;
}
.loading_subtitle {
  width: 80%;
  margin-top: 10px;
}

.loading_point {
  width: 10%;
}

