.checkbox_container_checkbox {
  position: relative;
}

/* cache par défaut */
.checkbox_container_checkbox .checkmark::before,
.checkbox_container_checkbox .checkmark::after {
  content: "";
  position: absolute;
  display: none;
}

/* coche (✓) quand checked */
.checkbox_container_checkbox .checkbox_container_input:checked+.checkmark::after {
  display: block;
  left: 6px;
  top: 2px;
  width: 6px;
  height: 12px;
  border: solid var(--white);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

/* dash (–) quand indeterminate */
.checkbox_container_checkbox .checkbox_container_input:indeterminate+.checkmark::before {
  display: block;
  left: 4px;
  top: 8px;
  width: 12px;
  height: 2px;
  background-color: var(--white);
  border-radius: 1px;
}