.multi_filters_custom_select {
  position: relative;
}

.multi_filters_select_button {
  background-color: var(--light_grey);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 16px;
  border: 1px solid var(--medium_grey);
  border-radius: var(--standard_border_radius);
  cursor: pointer;
}

.multi_filters_custom_select .arrow {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 7px solid var(--dark_blue);
  transition: transform ease-in-out 0.35s;
  margin-left: 12px;
}

.multi_filters_custom_select .arrow--open {
  transform: rotate(180deg);
}

.multi_filters_select_dropdown {
  background-color: var(--light_grey);
  position: absolute;
  width: 100%;
  border: 1px solid var(--dark_blue);
  border-radius: var(--standard_border_radius);
  padding-bottom: 8px;
  box-shadow: 0px 4px 20px 0px #0303841a;
  z-index: 3;
}

.multi_filters_select_dropdown li:hover:first-child,
multi_filters_select_dropdown li:hover:last-child {
  border-top-left-radius: var(--standard_border_radius);
  border-top-right-radius: var(--standard_border_radius);
}

.multi_filters_select_dropdown::-webkit-scrollbar {
  display: none;
}

.multi_filters_select_dropdown li {
  cursor: pointer;
  padding: 16px 0;
  margin: 0 16px;
}
.multi_filters_select_dropdown li:not(:last-child) {
  border-bottom: 1px solid var(--grey_divider);
}

.select_button--selected_value {
  display: flex;
  align-items: center;
}

.multi_filters_select_dropdown li:hover,
.multi_filters_select_dropdown li:focus {
  background-color: var(--medium_grey);
  margin: 0;
  padding: 16px;
}

.selected {
  color: var(--dark_blue);
}

.multi-filters-select-button.open {
  border: 1px solid var(--dark_blue);
}

.multi_filters_custom_select .dropdown_icon_wrapper {
  display: flex;
  align-items: center;
}

.select_multifilter_dropdown_divider {
  height: 1px;
  background-color: var(--medium_grey);
  width: 90%;
  margin: 0 auto;
}

.multi_filters_custom_select.dropdown_multi_filters_dropdown
  .multi_filters_select_button
  .multi_filters_label {
  display: inline-block;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.multi_filters_select_dropdown .dropdown_item {
  display: flex;
  align-items: center;
}

.item_label {
  margin-left: 10px;
}

.empty_values {
  color: var(--dark_grey);
}
