.podium_step__container {
  display: inline-block;
  text-align: center;
  width: 100%;
  padding-top: 72px;
  padding-bottom: 40px;
  transition: padding-bottom 320ms ease;
}

.podium_step__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.podium_step__img {
  width: 3.75rem;
  margin-bottom: 1rem;
}

.podium_step__list {
  color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 8px;
}

.podium_step_number__container {
  border-top-left-radius: var(--standard_border_radius);
  border-top-right-radius: var(--standard_border_radius);
  padding-top: 0.4rem;
  width: auto;
  background-color: var(--white);
}

.podium_step_number__number {
  padding: 0.1rem 0.5rem;
  border-radius: var(--standard_border_radius);
}

.podium_step__container {
  --extra-h: 0px;
}

.podium_step__container.podium_open {
  padding-bottom: 0;
  --extra-h: 40px;
}

.podium_step_number__container {
  height: calc(var(--base-h) + var(--extra-h));
  transition: height 320ms ease; /* smooth */
}

.podium_step__container[data-ranking='1'] .podium_step_number__container {
  --base-h: 73.6px;
}
.podium_step__container[data-ranking='2'] .podium_step_number__container {
  --base-h: 54.4px;
}
.podium_step__container[data-ranking='3'] .podium_step_number__container {
  --base-h: 33.6px;
}
