@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
/* Regular (400), Medium (500), Semi-Bold (600), Bold (700) */

:root {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: auto;
  color: var(--dark_blue);

  /* graphique chart mpp scolaire */
  --error: red;
  --white: #ffffff;
  --white_transparent: #ffffff99;
  --main_yellow: #f9cf2f;
  --light_yellow: #f9dc6c;
  --very_light_yellow: #faf1c8;
  --main_blue: #5fd3ac;
  --light_blue: #cfeef4;
  --dark_blue: #2c2c69;
  --dark_blue_light: rgb(44, 44, 105, 0.8);
  --dark_blue_very_light: rgb(44, 44, 105, 0.2);
  --disable_dark_blue: #9595b4;
  --tonic_violet: #b42ff5;
  --pink: #f9c7e9;
  --pastel_blue: #d0eff5;
  --pastel_green: #c4e39a;
  --pastel_violet: #dbd6ff;
  --pastel_light_pink: #f9c7e9;
  --pastel_dark_pink: #fab1bd;
  --pastel_orange: #ffae92;
  --pastel_dark_violet: #b1c5ff;
  --pastel_turquoise: #7fd4b3;
  --anthracite: #333333;
  --dark_grey: #999999;
  --medium_grey: #dadada;
  --light_grey: #f4f4f4;
  --utility_yellow: #e3ba1a;
  --utility_green: #21be8b;
  --green_background: #eefaf7;
  --shadow_color: #0303841a;
  --gradient_peps: linear-gradient(to right, #b42ff5, #cfeef4);
  --gradient_peps_reverse: linear-gradient(to left, #b42ff5, #cfeef4);
  --standard_border_radius: 8px;
  --big_border_radius: 20px;
}

p,
span {
  margin: 0;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--light_grey);
}

/* handle texte style */

.title_h1 {
  font-weight: 700;
  font-size: 24px;
}

.title_h2 {
  font-weight: 500;
  font-size: 20px;
}

.title_h3 {
  font-weight: 700;
  font-size: 18px;
}

.subtitle {
  font-weight: 500;
}

.text_body {
  font-weight: 400;
  font-size: 14px;
}

.text_body_sb {
  font-weight: 600;
  font-size: 14px;
}

.text_small_b {
  font-weight: 700;
  font-size: 12px;
}

.text_small {
  font-weight: 400;
  font-size: 12px;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 1;
}

ul {
  margin: 0;
  padding: 0;
}

input,
textarea {
  font-size: 16px;
  font-weight: 400;
  color: var(--dark_blue);
}
